@{
    ViewBag.Title = "Ana Sayfa";
}


<div style="width:500px; margin:350px 10px 20px 750px; color:white">
    <h2><span style="font-family:'Baskerville Old Face'">İLKER DAĞCI</span></h2>
    <h2><span style="font-family:'Baskerville Old Face'">E-TİCARET FİLM SATIŞ SİTESİ</span></h2>
</div>

